  .tituloencabezado{ 
     font: size 30px; 
     color: #ce59f1;
}
header { 
    display: flex;
    flex-direction:rows;
    justify-content: center;
}
body{ 
  background-image: url("/assets/images/fondo-acuarela-elementos-dibujados-mano_52683-57060.jpg");
 
  background-size:cover;
background-repeat:no-repeat ;
}

.arte{
    background-color:rgb(224, 110, 228)

}
